.movieContainer
  .pic
    = image_tag @movie.poster, :alt => @movie.title, :width => 120, :height => 172
  .text
    %h2 Weapons Of Ass Destruction (2008)
    %p
      Ben Stiller returns as Larry Daley, the unfortunate night watchman who continues to encounter living and breathing museum exhibits in Night at the Museum 2: Escape From the Smithsonian, 20th Century Fox's tent-pole sequel from director Shawn Levy. Scott Frank, Robert Ben Garant, and Thomas Lennon provide the script, with Chris Columbus returning to handle producing duties. Amy Adams (Enchanted) and Hank Azaria join the returning cast of Robin Williams, Ricky Gervais, and Owen Wilson in the 1492

