.my-profile-msg
  %h2
    This is your public profile
  %p
    You can ask your friends for recommendations by sharing your profile URL:

  .url
    = link_to user_profile_url(current_user)

  .twitter-share-link
    %script{:src => "http://platform.twitter.com/widgets.js", :type => "text/javascript"}
    %a.twitter-share-button{:href => "http://twitter.com/share?text=Recommend%20me%20a%20movie&url=#{user_profile_url(current_user)}&via=shouldwatch&count=none"} Tweet

