#want_to_watch_list
  %ul
    - if @want_to_watch.blank?
      %li= t('.empty_list')
    = render :partial => '/movies/want_to_watch', :collection => @want_to_watch, :as => :movie
/  .addMore
/    %a{:href => "#"} Add more

